.App {
  text-align: center;
}
header{
  margin-top:150px;
}
#prizeFirst{
  .MuiPaper-root{
    width:250px;
    font-size:4rem;
    color:pink;
  }
}
#prizeForth{
  padding:100px 0;
}
#prizeFifth{
  padding:50px 0 150px;
  background:pink;
}