@import url('https://fonts.googleapis.com/css2?family=K2D:wght@300;400;500;600&display=swap');
body {
  margin: 0;
  font-family: 'K2D', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
